# Database Configuration
DB_NAME=
DB_USER=
DB_PASSWORD=

# Application Configuration
APP_PORT=

# Grafana Configuration
GRAFANA_USER=
GRAFANA_PASSWORD=

# Jenkins Configuration
JENKINS_ADMIN_ID=
JENKINS_ADMIN_PASSWORD=
JENKINS_EMAIL=
JENKINS_EMAIL_PASSWORD=